# Project exclude paths
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/deploymentTargetDropDown.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/caches
# Android Studio 3 in .gitignore file.
.idea/caches/build_file_checksums.ser
.idea/modules.xml
/.idea/sonarlint
/.idea/codeStyles
/.idea/navEditor.xml
.idea/navEditor.xml
/.idea/misc.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/runConfigurations.xml
/.idea/deploymentTargetDropDown.xml
/.idea/inspectionProfiles/Project_Default.xml
report.xml
dgpaysSDK/build
